* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #17a2b8;
    margin: 0;
}
.game {
    width: 770px;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px;
}
.game__input {
    position: absolute;
    z-index: -999;
    opacity: 0;
}
.game__wrapper {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 13px;
}
.game__box {
    max-height: 255px;
    overflow-y: auto;
    margin-bottom: 17px;
}
.game__box::-webkit-scrollbar {
    width: 0;
}
.game__descr {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.game__descr span {
    position: relative;
}
.game__descr span.active {
    color: #17a2b8;
}
.game__descr span.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #17a2b8;
    opacity: 0;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
.game__descr span.correct {
    color: #56964f;
}
.game__descr span.incorrect {
    color: #cb3439;
    background-color: #ffc0cb;
    border-radius: 4px;
    outline: 1px solid #fff;
}
.game__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 12px 0;
}
.game__list {
    width: calc(100% - 140px);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.game__list-item {
    display: flex;
    align-items: center;
    height: 22px;
}
.game__list-item:not(:first-child) {
    border-left: 1px solid #ccc;
    padding-left: 22px;
}
.game__list-text {
    font-size: 19px;
}
.game__list-text span{
    font-size: 20px;
    margin-left: 10px;
}
.game__list-text:not(:first-child) span{
    font-weight: 500;
}
.game__list-text b {
    font-weight: 500;
}
.game__btn {
    width: 105px;
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #17a2b8;
    padding: 8px 0;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.game__btn:active {
    transform: scale(0.97);
}