* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background-color: #4070f4;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}
button:hover {
    background-color: #265df2;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e3f2e3;
}
.popup.active .popup__btn {
    display: none;
}
.popup.active .popup__content {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.popup.active .popup__overlay {
    opacity: 1;
    pointer-events: auto;
}

.popup__btn,
.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.popup__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}
.popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 24px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
}
.popup__icon {
    font-size: 70px;
    color: #4070f4;
    margin-bottom: 20px;
}
.popup__title {
    font-size: 25px;
    font-weight: 500;
    color: #333;
}
.popup__descr {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 25px;
}
.popup__modal-btn {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0 10px;
}