* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#252930 50%, #5372f0 50%);
    margin: 0;
}
.location-btn {
    font-family: inherit;
    font-size: 50px;
    font-weight: 500;
    color: #5372f0;
    padding: 25px 46px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}